{{ define "main" }}
<h1 class="text-2xl mb-4 font-sans-serif font-semibold">{{ title .Title }}</h1>

<div>
  <div class="mb-8 prose prose-sm serif">
    {{ .Content }}
  </div>

  <hr/>

  {{ range .Data.Pages.GroupByDate "2006" }}
  <h3 class="mt-8 mb-2 font-bold">{{ .Key }}</h3>
  <div class="mb-8">
    <ul>
      {{ range .Pages }}
      <li class="prose serif">
        <a class="font-normal" href="{{ .Permalink }}">{{ .Title }}</a>
        <span class="text-gray-500 text-xs">({{ .Date.Format "January 02" }})</span>
      </li>
      {{ end }}
    </ul>

    <p class="text-xs text-gray-700 mt-8 italic">({{ len .Pages }} fragments in {{ .Key }})</p>
  </div>
</div>
{{ end }}
{{ end }}
