{{ define "main" }}
<div class="prose serif">
  <header class="mb-8">
    <h1>{{ .Title }}</h1>
    <p class="text-sm font-gray-700 mb-4 italic">Estimated Reading Time: {{ .ReadingTime }} minutes ({{ .WordCount }} words) </p>
  </header>

  <article class="mb-16 text-gray-800">
    {{ if and (gt .WordCount 400 ) (.Params.toc) }}
    <div class="mb-8 pb-6 border-b border-t">
      <h2>Table of Content</h2>
      {{.TableOfContents}}
    </div>
    {{ end }}

    {{ .Content }}
  </article>

  <footer class="flex justify-end mb-10">
    {{ with .NextInSection }}
    <a href="{{ .Permalink }}">{{ .Params.section }}: {{ .Title }} ⟶ </a>
    {{ end }}
  </footer>
</div>
{{ end }}
