{{ define "main" }}
<div>
  <header class="mb-8 font-sans-serif">
    {{ if ne .Type "page" }}
    <div class="text-sm font-gray-700 mb-8">
      <p class="uppercase font-semibold">
      <a class="text-gray-700" href="/{{ .Type }}">{{ .Type }}</a>
      </p>
      <p>{{ .Date.Format "Jan 02, 2006" }}</p>
    </div>
    {{ end }}

    <h1 class="text-3xl mb-1 font-semibold">{{ .Title }}</h1>
    {{ if .Params.Lastmod }}
      <p class="italic text-xs">Last updated at: {{ .Params.Lastmod.Format
      "Jan 02, 2006" }}</p>
    {{ end }}
  </header>

  <article class="prose serif mb-16 text-gray-800">
    {{ .Content }}

    <div class="float-right mb-8">
      <p class="text-sm mb-4 font-gray-700 italic">({{ .WordCount }} words)</p>
    </div>
  </article>

</div>
{{ end }}
