{{ define "main" }}
<div class="mb-8">
  <h1 class="text-2xl mb-1 font-sans-serif font-semibold">{{ title .Title }}</h1>
  <p class="text-xs text-gray-700 italic">({{ len .Pages }} entries)</p>
</div>

  <ul class="flex flex-wrap">
    {{ range .Pages }}
    <li class="badge badge-primary rounded-badge">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>

<div>
  <div class="mb-8 prose prose-sm serif">
    {{ .Content }}
  </div>

  <hr/>

  {{ range .Pages }}
  <h3 class="mt-8 mb-2 text-xl font-bold">
    {{ .Title }}
  </h3>
  <div class="mb-8">
    <ul>
      {{ range .Pages }}
        {{ partial "li.html" . }}
      {{ end }}
    </ul>

  </div>
</div>
{{ end }}
{{ end }}

